@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="mt-2">Welcome to VTuber Dashboard</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <iframe width="100%" height="750" src="https://app.powerbi.com/reportEmbed?reportId=cc43bf69-e170-4164-90aa-3ca880cb4fa2&autoAuth=true&ctid=e85c5307-76b1-4c48-bc5d-e88373dda261" frameborder="0" allowFullScreen="true"></iframe>
    </div>
}
else
{
    <p>Please login to view the dashboard.</p>
}